In [36]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set(style="darkgrid",palette="tab10")
# plt.style.use("seaborn-pastel")
import warnings
warnings.filterwarnings("ignore")

%matplotlib widget

In [37]:
df=pd.read_csv("../Dataset/covid_italy.csv")
df.head()

,data,stato,code_region,name_region,lat,long,hospitalized_with_sintome,intensive_care,total_hospitalized,home_isolation,total_positive,variation_total_positive,new_positive,discharged_healed,deaths,total_case,material_use,cases_tested,note_it,note_en
0,2020-02-24,ITA,13,Abruzzo,42.351222,13.398438,0,0,0,0,0,0,0,0,0,0,5,NaN,NaN,NaN
1,2020-02-24,ITA,17,Basilicata,40.639471,15.805148,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN
2,2020-02-24,ITA,4,P.A. Bolzano,46.499335,11.356624,0,0,0,0,0,0,0,0,0,0,1,NaN,NaN,NaN
3,2020-02-24,ITA,18,Calabria,38.905976,16.594402,0,0,0,0,0,0,0,0,0,0,1,NaN,NaN,NaN
4,2020-02-24,ITA,15,Campania,40.839566,14.250850,0,0,0,0,0,0,0,0,0,0,10,NaN,NaN,NaN

In [38]:
df.data = pd.to_datetime(df.data)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1293 entries, 0 to 1292
Data columns (total 20 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   data                       1293 non-null   datetime64[ns]
 1   stato                      1293 non-null   object
 2   code_region                1293 non-null   int64
 3   name_region                1293 non-null   object
 4   lat                        1293 non-null   float64
 5   long                       1293 non-null   float64
 6   hospitalized_with_sintome  1293 non-null   int64
 7   intensive_care             1293 non-null   int64
 8   total_hospitalized         1293 non-null   int64
 9   home_isolation             1293 non-null   int64
 10  total_positive             1293 non-null   int64
 11  variation_total_positive   1293 non-null   int64
 12  new_positive               1293 non-null   int64
 13  discharged_healed          1293 non-null   int64
 14  deaths                     1293 non-null   int64
 15  total_case                 1293 non-null   int64
 16  material_use               1293 non-null   int64
 17  cases_tested               248 non-null    float64
 18  note_it                    19 non-null     object
 19  note_en                    19 non-null     object
dtypes: datetime64[ns](1), float64(3), int64(12), object(4)
memory usage: 202.2+ KB

In [39]:
df[df.name_region == "Lombardia"]

,data,stato,code_region,name_region,lat,long,hospitalized_with_sintome,intensive_care,total_hospitalized,home_isolation,total_positive,variation_total_positive,new_positive,discharged_healed,deaths,total_case,material_use,cases_tested,note_it,note_en
9,2020-02-24,ITA,3,Lombardia,45.466794,9.190347,76,19,95,71,166,0,166,0,6,172,1463,NaN,NaN,NaN
28,2020-02-25,ITA,3,Lombardia,45.466794,9.190347,79,25,104,127,231,65,68,0,9,240,3700,NaN,NaN,NaN
47,2020-02-26,ITA,3,Lombardia,45.466794,9.190347,79,25,104,145,249,18,18,0,9,258,3208,NaN,NaN,NaN
66,2020-02-27,ITA,3,Lombardia,45.466794,9.190347,172,41,213,136,349,100,145,40,14,403,3320,NaN,NaN,NaN
85,2020-02-28,ITA,3,Lombardia,45.466794,9.190347,235,47,282,192,474,125,128,40,17,531,4835,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1207,2020-04-27,ITA,3,Lombardia,45.466794,9.190347,7525,680,8205,27236,35441,275,590,24589,13449,73479,342850,211523.0,NaN,NaN
1226,2020-04-28,ITA,3,Lombardia,45.466794,9.190347,7280,655,7935,27809,35744,303,869,25029,13575,74348,351423,216526.0,NaN,NaN
1245,2020-04-29,ITA,3,Lombardia,45.466794,9.190347,7120,634,7754,28368,36122,378,786,25333,13679,75134,365895,223952.0,NaN,NaN
1264,2020-04-30,ITA,3,Lombardia,45.466794,9.190347,6834,605,7439,28772,36211,89,598,25749,13772,75732,376943,229880.0,NaN,NaN
1283,2020-05-01,ITA,3,Lombardia,45.466794,9.190347,6628,563,7191,29282,36473,262,737,26136,13860,76469,390644,236822.0,NaN,NaN

In [40]:
import pycountry

data_all =  pd.pivot_table(values="total_case",index="data",columns="name_region", data=df)

In [41]:
selected = data_all.iloc[-1,:].sort_values(ascending=False)[:10].index
print(selected)

Index(['Lombardia', 'Piemonte', 'Emilia-Romagna', 'Veneto', 'Toscana',
       'Liguria', 'Lazio', 'Marche', 'Campania', 'Puglia'],
      dtype='object', name='name_region')

In [43]:
data = data_all[selected]
data = data[data.sum(axis=1)>0]

from celluloid import Camera
fig = plt.figure(figsize=(12,5))
fig.subplots_adjust(wspace=0.4,bottom=0.2)
ax = fig.add_subplot(121)
ax.set_yscale("log")
ax.set_ylabel("Number of cases")
ax2 = fig.add_subplot(122)
ax2.set_xlabel("Number of cases")

camera = Camera(fig)
for j,day in enumerate(data.index):
    sns.barplot(x=data.iloc[j,:].values,y=data.columns,orient="h",ax=ax2)
    for i,coun in enumerate(data.columns):
        data[coun].loc[:day].plot(ax=ax,legend=False,color=sns.color_palette("tab20")[i])
        ax.text(day,data[coun].loc[day],coun,va="center")
        try:
            count = int(data[coun][day])
        except:
            count = data[coun][day]  
        ax2.text(count+1,i,count,va="center")
        ax2.set_ylabel(None)
        ax2.text(0.35,1.03,f"Date: {day.date()}",fontsize=12,transform=ax2.transAxes)
    camera.snap()
anim = camera.animate(interval=300)
anim.save("../Gif/Number of cases per region.gif", writer="pillow")

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …